<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Crop & Fertilizer Recommendation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the AI Crop and Fertilizer Recommendation System</h1>
        <div class="options">
            <a href="/crop_recommendation" class="btn">Crop Recommendation</a>
            <a href="/fertilizer_prediction" class="btn">Fertilizer Prediction</a>
            <a href="/plant_disease" class="btn">Plant Disease Detection</a>
        </div>
    </div>
</body>
</html>